.login-button{
    text-align: right;
}
table{
  align-items:center;
}
header,footer{
  position:absolute;
  background-color: rgb(60, 205, 238);
  width:100%;
  color:black;
}
header{
  top:0;
  left:0;
  height:15vh;
}
footer {
  height:15vh;
  bottom:0;
  left:0;
}
.nav{
  position:absolute;
  width:100%;
}
.nav a{
  position:relative;
  left:60%;
  top:40px;
  color:black;
  text-decoration:none;
  margin-right:20px;
  
}
footer p{
  position:absolute;
  left:48%;
  bottom:20px;
  color:orange;
}
.form-center form{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
table{
  border:1px; 
  margin-left: 200px;
   margin-left: 20px;
}
h3{
  color:rgb(10, 10, 10);
}
body{
  background-image: linear-gradient(to right, rgba(188, 136, 233, 0), rgb(174, 88, 143),rgb(189, 80, 149),rgb(245, 245, 204),rgb(216, 246, 133));
}